body {
  font-family: var(--font-family-body);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  border: 0;
}

.main-header {
  width: 100%;
  height: 194px;
  background-color: var(--color-primary);
  padding-top: 40px;
}
.main-header__container {
  width: 846px;
  height: 96px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__logo {
  order: 1;
}
.main-header__nav {
  order: 3;
}

.main-header__nav-list {
  display: flex;
}
.main-header__nav-item,
.main-header__nav-item a {
  display: block;
  width: 44px;
  height: 44px;
  /* background-color: #fff; */
}
.main-header__nav-item svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header__nav-item--active svg path {
  stroke: var(--color-white);
}

.main-header__date {
  order: 2;
  width: 232px;
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}
.main-header__date__button--prev {
  order: 1;
}
.main-header__date__button--next {
  order: 3;
}
.main-header__date-container {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}
.main-header__date-container .year,
.main-header__date-container .month-text {
  font-size: var(--font-size-bold-small);
  font-weight: var(--font-weight-bold);
}
.main-header__date-container .month {
  font-size: var(--font-size-display-large);
  font-weight: var(--font-weight-display-large);
}
