body {
  font-family: var(--font-family-body);
  background-color: var(--color-off-white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  border: 0;
}

/* header */

.main-header {
  width: 100%;
  height: 194px;
  background-color: var(--color-primary);
  padding-top: 40px;
}
.main-header__container {
  width: 846px;
  height: 96px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__logo {
  order: 1;
}
.main-header__nav {
  order: 3;
}

.main-header__nav-list {
  display: flex;
}
.main-header__nav-item,
.main-header__nav-item a {
  display: block;
  width: 44px;
  height: 44px;
  /* background-color: #fff; */
}
.main-header__nav-item svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-header__nav-item--active svg path {
  stroke: var(--color-white);
}

.main-header__date {
  order: 2;
  width: 232px;
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}
.main-header__date__button--prev {
  order: 1;
}
.main-header__date__button--next {
  order: 3;
}
.main-header__date-container {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}
.main-header__date-container .year,
.main-header__date-container .month-text {
  font-size: var(--font-size-bold-small);
  font-weight: var(--font-weight-bold);
}
.main-header__date-container .month {
  font-size: var(--font-size-display-large);
  font-weight: var(--font-weight-display-large);
}

/* main */
.main {
  position: relative;
  bottom: 44px;
}

/* 새 내역 입력 (공통) */
.main__new-history form {
  width: 894px;
  height: 76px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  border-radius: var(--border-radius-sqaure);
  box-shadow: var(--box-shadow);
}
.main__new-history__amount,
.main__new-history__category,
.main__new-history__date,
.main__new-history__payment-method,
.main__new-history__description {
  padding: 16px 25px 16px 24px;
  color: var(--color-primary-alt);
}
.main__new-history__form label {
  font-size: var(--font-size-bold-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-bold-small);
}
.main__new-history__form input,
.main__new-history__form select {
  font-size: var(--font-size-body-regular);
  padding-top: 4px;
}
/* 새 내역 입력 (일자) */
.main__new-history__date input {
  width: 88px;
  color: var(--color-primary);
}
/* 새 내역 입력 (금액) */
.main__new-history__amount {
  width: 184px;
}
.main__new-history__amount > div {
  display: flex;
  height: 24px;
}
.main__new-history__amount input {
  width: 78px;
  height: 24px;
  margin-right: 8px;
  padding: 0;
}
.main__new-history__amount input::-webkit-input-placeholder {
  text-align: right;
}
.main__new-history__amount input:-moz-placeholder {
  text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.main__new-history__amount button {
  width: 24px;
  height: 24px;
}
.main__new-history__amount span {
  height: 24px;
  line-height: var(--line-height-body-regular);
  color: var(--color-primary);
}
/* 새 내역 입력 (내용) */
.main__new-history__description {
  width: 213px;
}
.main__new-history__description input {
  width: 164px;
}

/* 새 내역 입력 (버튼) */
.main__new-history__form__button {
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

#main-new-history-form-button-active {
  background: var(--color-secondary-yellow);
  border-radius: var(--border-radius-sqaure);
}

/* 전체 내역 */
.main__all-history {
  position: relative;
  width: 848px;
  margin: 0 auto;
  top: 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__all-history-container {
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main__all-history-container p {
  color: var(--color-primary);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
}
.main__all-history-container span {
  padding-left: 8px;
}
.main__all-history-container__box {
  display: flex;
  height: 24px;
  align-items: center;
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-body);
  color: var(--color-primary);
}

input[type='checkbox'] {
  display: none;
}

.main__all-history-container__box input[type='checkbox'] + label {
  display: inline-block;
  display: block;
  background-image: url('../img/icon_checkbox_unchecked.svg');
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main__all-history-container__box input[type='checkbox']:checked + label {
  background-image: url('../img/icon_checkbox_checked.svg');
}

.main__all-history-container__box--expense {
  margin-left: 16px;
}
.main__all-history-container__box--income label,
.main__all-history-container__box--expense label {
  padding-left: 30px;
}

/* 전체 내역 리스트 */
.main__history-list-container {
  margin-top: 28px;
}
.main__history-list-info {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bold-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history-list-info-dateday {
  display: flex;
  flex-direction: column;
}
.history-list-info__date {
  color: var(--color-primary);
  margin-right: 8px;
}
.history-list-info__day,
.history-list-info__income,
.history-list-info__expense {
  color: var(--color-primary-alt);
}
.history-list-info__income,
.history-list-info__expense,
.history-list-info__box span {
  padding-left: 8px;
}
.history-list-info__box {
  display: flex;
}

/* 내역 리스트 */
.main__history-list__item {
  margin: 21px 0;
}
.main__history-list__item li {
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 16px; */
  height: 64px;
  border-top: 1px solid var(--color-primary-alt);
}
.main__history-list__item li:last-child {
  border-bottom: 1px solid var(--color-primary-alt);
}
.history-list__item__tag {
  background: var(--color-category-purple);
  font-size: var(--font-size-bold-medium);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  height: 32px;
  width: 92px;
  border-radius: 25px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-list__item__content {
  color: var(--color-primary);
  width: 320px;
}
.history-list__item__payment-method {
  color: var(--color-primary-alt);
  width: 120px;
}
.history-list__item__amount {
  width: 234px;
  text-align: right;
}
.history-list__item__amount.plus-color {
  color: var(--color-secondary-red);
}
.history-list__item__amount.minus-color {
  color: var(--color-secondary-cyan);
}
.tag-life {
  background-color: var(--color-category-navy);
}
.tag-food {
  background-color: var(--color-category-blue);
}
.tag-transpotation {
  background-color: var(--color-category-mint);
}
.tag-shopping {
  background-color: var(--color-category-cyan);
}
.tag-health {
  background-color: var(--color-category-sky);
}
.tag-culture {
  background-color: var(--color-category-pink);
}
.tag-unclassified {
  background-color: var(--color-category-purple);
}
.tag-salary {
  background-color: var(--color-category-green);
}
.tag-allowance {
  background-color: var(--color-category-yellow);
}
.tag-etc {
  background-color: var(--color-category-orange);
}
