/* 

임시 레이아웃 보더
border: 1px solid red;
border: 1px solid rgb(89, 89, 89);

 */

/* 사용자 지정 CSS 속성 (변수) 적용해보기 */
:root {
  /* font-family */
  --font-family-display: "Outfit";
  --font-family-body: "Pretendard";
  --font-family-bold: "Pretendard";

  /* font-size */
  --font-size-display-small: 24px;
  --font-size-display-large: 48px;

  --font-size-body-regular: 16px;
  --font-size-body-medium: 18px;
  --font-size-body-large: 22px;

  --font-size-bold-regular: 12px;
  --font-size-bold-medium: 14px;
  --font-size-bold-large: 16px;

  /* font-weight */
  --font-weight-display-small: 400;
  --font-weight-display-large: 700;
  --font-weight-body: 500;
  --font-weight-bold: 700;

  /* line-height */
  --line-height-display-small: 24px;
  --line-height-display-large: 56px;

  --line-height-body-regular: 24px;
  --line-height-body-medium: 24px;
  --line-height-body-large: 32px;

  --line-height-bold-regular: 16px;
  --line-height-bold-medium: 24px;
  --line-height-bold-large: 24px;

  /* color */
  --color-off-white: #f7f6f3;
  --color-white: #fcfcfc;
  --color-primary: #524d90;
  --color-primary-alt: #a79fcb;
  --color-primary-alt-40: rgba(167, 159, 203, 0.4);
  --color-secondary-red: #e75b3f;
  --color-secondary-yellow: #f5b853;
  --color-secondary-cyan: #4eaaba;
  --color-category-sky: #6ed5eb;
  --color-category-cyan: #4cb8b8;
  --color-category-mint: #94d3cc;
  --color-category-blue: #4ca1de;
  --color-category-pink: #d092e2;
  --color-category-purple: #817dce;
  --color-category-navy: #4a6cc3;
  --color-category-green: #b9d58c;
  --color-category-yellow: #e6d267;
  --color-category-orange: #e2b765;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background: #f7f6f3;
  border: 1px solid red;

  /* 스크롤 움찔하는거 막는거 뭐더라 */
}
body * {
  border: 1px solid red;
}

a {
  text-decoration: none;
}
button {
  border: none;
}
input {
  border: none;
  background-color: transparent;
}

#layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: center;
  background-color: #524d90;
  box-sizing: border-box;
  padding-bottom: 18px;
  border-radius: 0 0 10px 10px;
  color: #fcfcfc;
}

.header-wrap {
  width: 940px;
  min-width: 940px;
  border: 1px solid red;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #fcfcfc;
}

#month-year {
  display: flex;
  width: 232px;
  height: 96px;
  justify-content: space-between;
  align-items: center;
}
#month-year .month-year-icon {
  background-color: transparent;
  cursor: pointer;
}
#month-year-text p {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
#month-year-text p:nth-child(2) {
  font-size: 48px;
  line-height: 56px;
  margin: 4px 0;
}
#month-year-text p:nth-child(odd) {
  font-size: 12px;
  line-height: 16px;
}

#tab {
  display: flex;
}
#tab button {
  background-color: transparent;
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#main {
  min-width: 940px;
  display: flex;
  flex-direction: column;
  margin-top: -35px;
}
#main-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-bar {
  box-sizing: border-box;
  width: 894px;
  height: 76px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 18px 16px 24px;
  border: 1px solid #524d90;
  background: #fcfcfc;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;
}
.input-bar-wrap {
  width: 852px;
  height: 44px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  border: 1px solid blue;
}
.dividing-line {
  width: 1px;
  height: inherit;
  background-color: #524d90;
  margin-left: 24px;
  margin-right: 24px;
}
.dividing-line:nth-last-of-type(-n+2) {
  margin-right: 0;
}
.dividing-line:nth-last-of-type(1) {
  margin-left: 0;
}
.input-bar-wrap label {
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #a79fcb;
}

/* .input-bar-wrap select {
  appearance: none;
  background: url("../images/chevron-down.svg") no-repeat 97% 50%/15px auto;
} */

.date {
  width: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.date #date-input {
  width: 88px;
}
.price {
  width: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price-wrap {
  height: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#plus-minus-btn[type="checkbox"] {
  display: none;
}
#plus-minus-btn[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 24px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  background-image: url("../images/name=minus.svg");
}
#plus-minus-btn[type="checkbox"]:checked + label {
  background-image: url("../images/name=plus.svg");
}
#plus-minus-btn[type="checkbox"]:disabled + label {
  background-image: url("../images/name=minus.svg");
}

.price-wrap #price-input {
  text-align: right;
  width: 78px;
  height: 24px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #524d90;
}
.price-wrap #price-input::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a79fcb;

  text-align: right;
}
.price-wrap .won {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #524d90;
  margin-left: 8px;
}

.memo {
  width: 164px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.memo #memo-input {
  width: 164px;
  margin-left: -4px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  padding-left: 5px;
  color: #524d90;
}
.memo #memo-input::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a79fcb;
}

.payment {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-select1-label {
  padding-left: 20px;
}

/* 셀렉트 박스 커스텀 */
.category-select, .payment-select {
  box-sizing: border-box;
  width: 148px;
}
/* 디바이딩라인 뒤에서 두개 마진 지우기 */

.btn-select {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 4px 20px 14px 20px;
  background-color: transparent;
  border: 1px solid yellowgreen;

  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a79fcb;
}

.list-member {
  width: 100%;
  box-sizing: border-box;

  display: none;
  background: #fcfcfc;
  border: 1px solid #524d90;
  border-collapse: collapse;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;
  z-index: 100;
}

.btn-select.on + .list-member {
  display: block;
}

.payment-list-member .select-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-member li {
  padding: 0 24px;
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: stretch;
}

.list-member li:first-child {
  border-radius: 8px 8px 0px 0px;
}
.list-member li:last-child {
  border-radius: 0px 0px 8px 8px;
}
.list-member li:last-child .select-items {
  border-bottom: none;
}

.list-member .select-items {
  padding: 0;
  width: 100%;
  background-color: transparent;
  text-align: left;
  cursor: pointer;

  border-bottom: 1px solid #524d90;
  white-space: nowrap;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #524d90;
}

.list-member li:hover,
.list-member li:focus {
  background: #f7f6f3;
}
/* 여기까지 */

.edit-btn-layout {
  display: flex;
  align-items: flex-start;
  /* margin-left: 10px; */
}
#edit-btn[type="checkbox"] {
  display: none;
}
#edit-btn[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-image: url("../images/category-edit-button-off.svg");
}
#edit-btn[type="checkbox"]:checked + label {
  background-image: url("../images/category-edit-button-on.svg");
}
#edit-btn[type="checkbox"]:disabled + label {
  background-image: url("../images/category-edit-button-off.svg");
}

/* 모달 */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  width: 400px;
  height: 228px;
  background: #fcfcfc;
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 16px;

  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.modal-body {
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-body > p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #524d90;
}
.modal-body #modal-input {
  height: 44px;
  background: #fcfcfc;
  border: 1px solid #524d90;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 5px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #524d90;
}
.modal-body #modal-input::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a79fcb;
}
.modal-btn-layout {
  display: flex;
  justify-content: space-between;
}
.modal-btn-layout .modal-btn {
  cursor: pointer;
  background-color: transparent;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.modal-btn-layout .cancel-btn {
  color: #524d90;
}
.modal-btn-layout .confirm-btn {
  color: #f5b853;
}

.hidden {
  display: none;
}

/* .list-info */
.list-info {
  margin-bottom: -5px;
  width: 848px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-info .list-info-left,
.list-info-right {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #524d90;
}

.list-info-checkbox-layout {
  display: flex;
  align-items: center;
  gap: 14px;
}
.list-info-checkbox[type="checkbox"] {
  display: none;
}
.list-info-checkbox[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../images/info-select-off.svg");
}
.list-info-checkbox[type="checkbox"]:checked + label {
  background-image: url("../images/info-select-on.svg");
}
.list-info-checkbox[type="checkbox"]:disabled + label {
  background-image: url("../images/info-select-off.svg");
}

/* .list-body */
.list-body {
  width: 846px;
  display: flex;
  flex-direction: column;
}
/* .list-body-info */
.list-body .list-body-info {
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 21px;
}
.list-body .list-body-info .date-day,
.list-body .list-body-info .income-expenditure {
  display: flex;
  gap: 8px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.list-body .list-body-info .date-day .date-day-date {
  color: #524d90;
}
.list-body .list-body-info .date-day .date-day-day {
  color: #a79fcb;
}

.list-body .list-body-info .income-expenditure {
  color: #a79fcb;
}

/* .list-detail */
.list-detail {
  display: flex;
  height: 64px;
  gap: 16px;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.list-detail:hover {
  background: #fcfcfc;
}
.list-detail:hover .delete-btn {
  display: flex;
}
.list-detail .list-detail-item {
  flex: 1;
}
.list-detail .list-detail-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 92px;
  padding: 4px 8px;
  border-radius: 25px;
  background: #d092e2;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: #fcfcfc;
}

.list-detail > span {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.list-detail > span:nth-of-type(1) {
  width: 320px;
  color: #524d90;
}
.list-detail > span:nth-of-type(2) {
  color: #a79fcb;
}
.list-detail > span:nth-of-type(3) {
  text-align: right;
  color: #e75b3f;
}
.delete-btn {
  display: none;
  white-space: nowrap;
  align-items: center;
  box-sizing: border-box;
  width: 89px;
  height: 32px;
  border: 1px solid #e75b3f;
  border-radius: 8px;
  background-color: transparent;
}
.delete-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #e75b3f;
}

/* 파일을 나눠야하나..? */
/* 달력부분 */
#week-calender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calender-head-box {
  box-sizing: border-box;
  width: 894px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 이런 공통되는 부분을 어떻게 처리할까 */
  background: #fcfcfc;
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;

  margin-bottom: 16px;
}

.calender-head-box .calender-head-day {
  flex: 1;
  text-align: center;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #524d90;
}

.calender-body {
  width: 894px;
  height: 580px;
  background: rgba(167, 159, 203, 0.4);
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;

  margin-bottom: 24px;
}

.monthly-total {
  width: 894px;
  display: flex;
  justify-content: space-between;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.monthly-total-left {
  color: #a79fcb;
}
.monthly-total-right {
  color: #524d90;
}

/* 통계 */
#statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-board {
  width: 894px;
  height: 593px;
  box-sizing: border-box;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 10px;

  margin-bottom: 24px;
}
.chart-board-layout {
  box-sizing: border-box;
  width: 717px;
  display: flex;
  justify-content: center;
  gap: 91px;
}
.pie-chart-layout {
  width: 254px;
  display: flex;
  align-items: center;
}
.pie-chart {
  width: 254px;
  height: 254px;
}

.chart-detail {
  height: 513px;
}

.chart-detail-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.chart-detail-title-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #524d90;
}
.chart-detail-title-count {
  text-align: right;
}

.chart-detail-category {
  width: 372px;
}
.chart-detail-list {
  width: 372px;
}
.chart-detail-percent {
  width: 40px;
}
.chart-detail-item {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #524d90;
}
.chart-detail-item-count {
  text-align: right;
}

/* 바 차트 */
.bar-chart-board {
  width: 894px;
  height: 450px;
  background: #fcfcfc;
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 10px;
  box-sizing: border-box;

  padding: 40px;
  margin-bottom: 40px;
}
.bar-chart-title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #1e2222;
  margin-bottom: 16px;
}
.bar-chart-body {
  height: 297px;
  margin-bottom: 8px;
}
.bar-chart-date {
  display: flex;
  justify-content: space-between;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #a79fcb;
}

/* 차트 상세 내역 리스트 */
.chart-list-body {
  width: 894px;
}

/* 
한거
0308
x 폼태그로 감싸지 않고 div로만 감싸져있던 인풋들을 전부 폼태그로 감싸줌
x 통계탭 영역 테두리 영역 잡기
x 통계탭 영역 상단 박스 누르면 아래 박스 보이게 임시로 해놓음 원래 각 카테고리를 눌러야 보여야하지만


한거
0309
x 폰트파일 가져오기, 
x 통계차트의 꺾은선 차트 부분제외 나머지 부분 채우기, 
x 클릭시 바뀌는 이미지,->아예 svg태그로?
x 체크박스 커스텀,
x 인풋 태그(모달창 내부 인풋 포함) 입력 텍스트를 위한 여백
x 메인리스트 카테고리 영역에 호버시 삭제하기 버튼
x 셀렉트박스 커스텀,
x 플러스 마이너스 이것도 체크박스로..?

해야하는거
0310
호버 옵션(기획서 다시 읽기),
탭메뉴 클릭시 아이콘 색 변경
확대하면 영어로 써진 달이 감춰짐->홛대되면서 메인이 밀려올라와 짜부된것처럼 보임?
날짜 오늘날짜가 보이도록(선택한날짜로 20230309 가 되도록)
숫자만 입력되도록, 숫자 세자리마다 콤마
축소시 메인리스트 카테고리영역이 삐져나옴(min 혹은 max위드 관련인듯..?)
메인리스트 카테고리 영역도 탭으로 선택이 돼야함
바닥 여백은 얼마나?
 */
