.input-bar {
  position: relative;
  top: -32px;

  display: flex;
  width: 894px;
  height: 76px;
  margin: auto;

  background: var(--color-white);
  color: var(--color-primary-alt);

  border: 1px solid #524d90;

  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;
}

.input-bar .date,
.input-bar .category,
.input-bar .memo,
.input-bar .payment {
  position: relative;
}

.input-bar .date::after,
.input-bar .category::after,
.input-bar .memo::after,
.input-bar .payment::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 44px;
  background-color: #524d90;
  transform: translateY(-50%);
}

.input-bar .date {
  display: flex;
  align-items: center;

  width: 137px;
  height: 76px;
}

.input-bar .date-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 88px;
  height: 44px;
}

.input-bar .label-text {
  font: var(--font-bold-small);
}

#date-input {
  display: flex;
  align-items: center;
  /* margin: 0 auto; */

  width: 88px;
  height: 24px;

  font: var(--font-body-regular);
  color: #524d90;
}

.input-bar .category {
  display: flex;
  align-items: center;
  width: 183px;
  height: 76px;
}

.input-bar .category-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 134px;
  height: 44px;
}

.input-bar .category-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#category-minus {
  width: 24px;
  height: 24px;
  padding-right: 6px;
  padding-left: 6px;
}

#category-price {
  text-align: right;
  width: 78px;
  height: 24px;
  color: var(--color-primary);
  font: var(--font-body-regular);
}

#category-price::placeholder {
  color: #a79fcb;
  font: var(--font-body-regular);
}

.input-bar .memo {
  display: flex;
  align-items: center;
  width: 213px;
  height: 76px;
}

.input-bar .memo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 164px;
  height: 44px;
}

#memo-input {
  color: var(--color-primary);
  width: 164px;
  height: 24px;
}

#memo-input::placeholder {
  color: #a79fcb;
  font: var(--font-body-regular);
}

.input-bar .payment {
  display: flex;
  align-items: center;
  width: 149px;
  height: 76px;
}

.input-bar .payment__inner,
.input-bar .price__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100px;
  height: 44px;
}

.payment .select-box {
  position: relative;
  display: flex;
  width: 100px;
  height: 24px;
  cursor: pointer;
}

.payment .payment__label {
  display: flex;
  align-items: center;
  width: 80px;
  height: 24px;
  font: var(--font-body-regular);
  cursor: pointer;
}

.payment .payment__downcheck {
  width: 20px;
  height: 24px;
  background-image: url("./img/downcheck.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.payment .payment__dropdown {
  display: block;
  position: absolute;
  top: 84px;
  background: #fcfcfc;
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;
  width: 148px;
  z-index: 9999;
}

.payment .payment__dropdown.display-none,
.payment .payment__dropdown.display-none {
  display: none;
}

.payment__list:first-child,
.payment__list:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.payment__list:last-child,
.payment__list:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.payment__list,
.payment__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 148px;
  height: 57px;
  box-sizing: border-box;
  font: var(--font-body-regular);
  color: var(--color-primary);
}
.payment__list::before,
.payment__list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 1px;
  background-color: #524d90;
  box-sizing: border-box;
  /* 가상 요소 ::before를 이용하여 선 추가 */
}

.payment__list:last-child::after,
.payment__list:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 2px;
  background-color: white;
  /* 가상 요소 ::after를 이용하여 맨 아래 블록의 선 없애기 */
}

.payment__list:hover,
.payment__list:hover {
  margin: 0;
  padding: 0;
  border: 1px solid #524d90;
  border-top: none;
  border-bottom: none;
  background: #f7f6f3;
}

.payment .list__inner,
.payment .list__inner {
  display: flex;

  align-items: center;
  width: 100px;
  height: 24px;
}

.payment .list-text,
.payment .list-text {
  width: 76px;
  height: 24px;
}
.payment .list-xmark,
.payment .list-xmark {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  height: 24px;
  /* background-image: url("./img/xmark.svg");
  background-repeat: no-repeat; */
}

.payment .xmark,
.payment .xmark {
  width: 16px;
  height: 16px;
}

.input-bar .pay-check__logo {
  display: flex;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("./img/downcheck.svg");
  background-position: center center;
}

.input-bar .payment.price {
  display: flex;
  justify-content: space-around;
  width: 212px;
  height: 76px;
}

.price__drop {
  position: relative;
}

.price__inner {
  width: 100px;
  height: 44px;
}

.price-wrapper {
  display: flex;
  width: 212px;
}
.price-check {
  width: 40px;
  height: 40px;
  background-image: url("./img/price-check.svg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* margin: 0 auto; */
}
