:root {
  /* font */
  --font-display-small: normal 400 24px/24px "Outfit";
  --font-display-large: normal 700 48px/56px "Outfit";
  --font-body-regular: normal 500 16px/24px "Pretendard";
  --font-body-medium: normal 500 18px/24px "Pretendard";
  --font-body-large: normal 500 22px/32px "Pretendard";
  --font-bold-small: normal 700 12px/16px "Pretendard";
  --font-bold-medium: normal 700 14px/24px "Pretendard";
  --font-bold-large: normal 700 16px/24px "Pretendard";

  /* color */
  --color-off-white: #f7f6f3;
  --color-white: #fcfcfc;
  --color-primary: #524d90;
  --color-primary-alt: #a79fcb;
  --color-primary-alt-40: rgba(167, 159, 203, 0.4);
  --color-secondary-red: #e75b3f;
  --color-secondary-yellow: #f5b853;
  --color-secondary-cyan: #4eaaba;
  --color-category-sky: #6ed5eb;
  --color-category-cyan: #4cb8b8;
  --color-category-mint: #94d3cc;
  --color-category-blue: #4ca1de;
  --color-category-pink: #d092e2;
  --color-category-purple: #817dce;
  --color-category-navy: #4a6cc3;
  --color-category-green: #b9d58c;
  --color-category-yellow: #e6d267;
  --color-category-orange: #e2b765;
}
