@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

:root {
  /* font-family */
  --ff-display: "Outfit", sans-serif;
  --ff-body: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --ff-bold: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  /* font-size */
  --fs-display-small: 24px;
  --fs-display-large: 48px;

  --fs-body-regular: 16px;
  --fs-body-medium: 18px;
  --fs-body-large: 22px;

  --fs-bold-regular: 12px;
  --fs-bold-medium: 14px;
  --fs-bold-large: 16px;

  /* font-weight */
  --fw-display-small: 400;
  --fw-display-large: 700;
  --fw-body: 500;
  --fw-bold: 700;

  /* line-height */
  --lh-display-small: 24px;
  --lh-display-large: 56px;

  --lh-body-regular: 24px;
  --lh-body-medium: 24px;
  --lh-body-large: 32px;

  --lh-bold-regular: 16px;
  --lh-bold-medium: 24px;
  --lh-bold-large: 24px;

  /* color */
  --color-off-white: #f7f6f3;
  --color-white: #fcfcfc;
  --color-black-40: #00000066;
  --color-primary: #524d90;
  --color-primary-8: #524d9014;
  --color-primary-10: #524d901a;
  --color-primary-alt: #a79fcb;
  --color-primary-alt-40: #a79fcb66;
  --color-secondary-red: #e75b3f;
  --color-secondary-yellow: #f5b853;
  --color-secondary-cyan: #4eaaba;
  --color-category-sky: #6ed5eb;
  --color-category-cyan: #4cb8b8;
  --color-category-mint: #94d3cc;
  --color-category-blue: #4ca1de;
  --color-category-pink: #d092e2;
  --color-category-purple: #817dce;
  --color-category-navy: #4a6cc3;
  --color-category-green: #b9d58c;
  --color-category-yellow: #e6d267;
  --color-category-orange: #e2b765;

  /* filter */
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(0%) hue-rotate(95deg) brightness(104%) contrast(98%);
  --filter-primary-alt: brightness(0) saturate(100%) invert(70%) sepia(25%)
    saturate(373%) hue-rotate(211deg) brightness(90%) contrast(86%);
  --filter-secondary-red: brightness(0) saturate(100%) invert(50%) sepia(33%)
    saturate(3959%) hue-rotate(335deg) brightness(93%) contrast(94%);

  /* shadow */
  --shadow: 0px 2px 2px var(--color-primary-8),
    0px 4px 4px var(--color-primary-10);

  /* component */
  --radius-primary: 8px;
  --radius-secondary: 50%;

  /* layout */
  --layout-inner-width: 894px;
}
