@import "./design-system.css";
@import "./top-header.css";
@import "./input-bar.css";
@import "./common-components/modal.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-primary);
  font-family: var(--ff-body);
}

#root {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
