@import "./month-year-carousel.css";

#top-header {
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  font-family: var(--ff-display);
  color: var(--color-white);
}

.top-header__inner-wrapper {
  width: var(--layout-inner-width);
  height: 96px;
  margin-top: 40px;
  padding-inline: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  height: 24px;
}

/* month carousel */
.month-year__carousel__btn {
  background-color: transparent;
  border: none;
}

/* view tabs */
.view-nav > fieldset {
  display: flex;
  border: none;
}

.view-nav > fieldset > label {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-nav__tab input {
  display: none;
}

.view-nav__tab input:checked + img {
  filter: var(--filter-white);
}

.view-nav__tab > img {
  filter: var(--filter-primary-alt);
  cursor: pointer;
}
