#calender {
  position: absolute;
  z-index: 1;
  width: calc(100% - 30px);
  max-width: 864px;
  border-collapse: separate;
  gap: 1px;
  margin: 0 15px;
}

#calender thead {
  transform: translateY(-32px);
  background-color: var(--color-white);
}

#calender thead th {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-regular);
  line-height: var(--line-height-body-regular);
  padding: 12px 0;
  border: 1px solid var(--color-primary);
  border-left-width: 0px;
  border-right-width: 0px;
}

#calender thead th:first-child {
  border-top-left-radius: var(--border-radius-8);
  border-bottom-left-radius: var(--border-radius-8);
  border-left-width: 1px;
}

#calender thead th:last-child {
  border-top-right-radius: var(--border-radius-8);
  border-bottom-right-radius: var(--border-radius-8);
  border-right-width: 1px;
}

#calender tbody td{
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-regular);
  line-height: var(--line-height-body-regular);
  background-color: var(--color-white);
  height: 102px;
  padding: 9px;
  border-top: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
}

#calender tbody td:last-child {
  border-right: 1px solid var(--color-primary);
}

#calender tbody tr:last-child td {
  border-bottom: 1px solid var(--color-primary);
}

#calender tbody tr:first-child td:first-child {
  border-top-left-radius: var(--border-radius-8);
}

#calender tbody tr:first-child td:last-child {
  border-top-right-radius: var(--border-radius-8);
}

#calender tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius-8);
}

#calender tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius-8);
}