/* color */
.off-white {
  color: #f7f6f3;
}
.white {
  color: #fcfcfc;
}
.primary {
  color: #524d90;
}
.primary-alt {
  color: #a79fcb;
}
.primary-alt-40 {
  color: rgba(167, 159, 203, 0.4);
}
.secondary-red {
  color: #e75b3f;
}
.secondary-yellow {
  color: #f5b853;
}
.secondary-cyan {
  color: #4eaaba;
}
.category-sky {
  color: #6ed5eb;
}
.category-cyan {
  color: #4cb8b8;
}
.category-mint {
  color: #94d3cc;
}
.category-blue {
  color: #4ca1de;
}
.category-pink {
  color: #d092e2;
}
.category-purple {
  color: #817dce;
}
.category-navy {
  color: #4a6cc3;
}
.category-green {
  color: #b9d58c;
}
.category-yellow {
  color: #e6d267;
}
.category-orange {
  color: #e2b765;
}

/* font */
.display-small {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.display-large {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.body-regular {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.body-medium {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.body-large {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.bold-small {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.bold-medium {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.bold-large {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* other */
body {
  background-color: var(--color-off-white);
}

.reset-btn {
  background: none;
  cursor: pointer;
  display: flex;
  border: 0;
  padding: 0px;
}
