.header {
  background: var(--color-primary);
  height: 194px;

}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 28px;
}

#logo {
  width: 132px;
  text-align: center;
}