@import url(./variable.css);
#main #main_wrapper {
  width: 848px;
  text-align: center;
  margin: 0 auto 80px auto;
}

#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
}

#main #main_total_history {
  text-align: left;
  margin: 0;
}

#main #main_income_expenditure {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

#main #main_income_expenditure div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main #main_income_expenditure button {
  margin: 0px 10px 0px 14px;
}

#main #main_income_expenditure input[type="checkbox"] {
  display: none;
}

#main #main_income_expenditure #expenditure_checkbox,
#main #main_income_expenditure #income_checkbox {
  height: 0;
  background-image: url(/App/src/icon/uncheckbox.svg);
  display: flex;
  align-items: center;
  padding: 11px;
  margin: 0px 10px 0px 14px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
}

#main #expenditure_toggle:checked + #expenditure_checkbox,
#main #income_toggle:checked + #income_checkbox {
  background-image: url(/App/src/icon/checkbox.svg);
}

#main #main_history_list {
  width: 100%;
  border-collapse: collapse;
}

#main .history_checkbox {
  cursor: pointer;
}

#main .info_tr,
#main .list_tr {
  border-bottom: 1px solid var(--color-primary-alt-40);
}

#main .info_tr td,
#main .list_tr td {
  padding: 20px 0px 20px 16px;
}

#main .list_tr td:nth-child(1) {
  width: 92px;
}

#main .list_tr td:nth-child(2) {
  width: 320px;
}

#main .list_tr td:nth-child(3) {
  width: 120px;
}

#main .list_tr td:nth-child(4) {
  text-align: right;
}

#main .list_tr td:last-child {
  padding-right: 16px;
}

#main .histoory_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main .history_category {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-off-white);
  border-radius: 25px;
}

#main .history_price {
  display: flex;
  justify-content: right;
  align-items: center;
}

#main .remove {
  height: 40px;
  display: none;
  margin: 0 0 0 10px;
  padding: 4px 8px;
  border: 1px solid var(--color-secondary-red);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-red);
}

#main .remove::before {
  display: inline-block;
  content: "\00d7";
  font-size: 20pt;
  margin: 0 5px;
  color: var(--color-secondary-red);
}

#main .list_tr {
  cursor: pointer;
}
#main .selected_list,
#main .list_tr:hover {
  background-color: #ffffff;
}
#main .selected_list .remove,
#main .list_tr:hover .remove {
  display: flex;
}

#main .price_text {
  height: 40px;
  display: flex;
  align-items: center;
}

#main .uniqueKey {
  display: none;
}

#main div[data-category="생활"] {
  background-color: var(--color-category-navy);
}

#main div[data-category="의료/건강"] {
  background-color: var(--color-category-sky);
}

#main div[data-category="쇼핑/뷰티"] {
  background-color: var(--color-category-cyan);
}

#main div[data-category="교통"] {
  background-color: var(--color-category-mint);
}

#main div[data-category="식비"] {
  background-color: var(--color-category-blue);
}

#main div[data-category="문화/여가"] {
  background-color: var(--color-category-pink);
}

#main div[data-category="미분류"] {
  background-color: var(--color-category-purple);
}

#main div[data-category="월급"],
#main div[data-category="기타수입"],
#main div[data-category="용돈"] {
  background-color: var(--color-category-green);
}
