@import url(./variable.css);
/* header */
#header {
  min-width: 1440px;
  height: 194px;
  background-color: rgb(82, 77, 144);
  color: rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-wrapper {
  min-width: 846px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  color: var(--color-off-white);
  text-decoration: none;
}

#logo a:visited {
  color: var(--color-off-white);
}

#monthYear #date {
  width: 164px;
  height: 96px;
  text-align: center;
}

#monthYear {
  min-width: 232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tab button {
  background-color: var(--color-primary);
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

/* input bar */
#input_bar {
  width: 894px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  position: relative;
  top: -32px;
  background-color: var(--color-white);
}

#input_bar_form {
  width: 100%;
  display: flex;
  align-items: center;
}

#input_bar legend {
  color: var(--color-primary-alt);
  margin-bottom: 4px;
}

#input_bar_form fieldset {
  border: none;
  display: flex;
  padding: 0 24px;
  border-right: 1px solid var(--color-primary);
}

#input_bar_form fieldset:last-child {
  border: none;
}

#input_bar_form #input_date {
  width: 98px;
  border: none;
  color: var(--color-primary);
}

#input_bar_form input[type="number"]::-webkit-outer-spin-button,
#input_bar_form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#input_bar_form #input_checkbox,
#input_bar_form #input_checkbox img {
  width: 40px;
  height: 40px;
}

#input_bar_form #input_checkbox:disabled {
  cursor: not-allowed;
}

#input_bar_form #input_content {
  width: 173px;
  border: none;
  background: none;
  color: var(--color-primary);
}

#input_bar_form #input_price {
  width: 78px;
  text-align: right;
  margin: 0 10px;
  border: none;
  background: none;

  color: var(--color-primary);
}

#input_bar_form .active_Btn svg rect {
  fill: var(--color-secondary-yellow);
}

#input_bar_form #price_toggle,
#input_bar_form #isEdit {
  display: none;
}

#input_bar_form #price_checkbox {
  cursor: pointer;
  height: 0;
  background-image: url(/App/src/icon/minus.svg);
  display: flex;
  align-items: center;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
}

#input_bar_form #price_toggle:checked + #price_checkbox {
  background-image: url(/App/src/icon/plus.svg);
}

#input_bar_form .selected_text {
  display: none;
}

/* main */
#main {
  margin-bottom: 80px;
}
#main #main_wrapper {
  width: 848px;
  text-align: center;
  margin: auto;
}

#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
}

#main #main_total_history {
  text-align: left;
  margin: 0;
}

#main #main_income_expenditure {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

#main #main_income_expenditure div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main #main_income_expenditure button {
  margin: 0px 10px 0px 14px;
}

#main #main_income_expenditure input[type="checkbox"] {
  display: none;
}

#main #main_income_expenditure #expenditure_checkbox,
#main #main_income_expenditure #income_checkbox {
  height: 0;
  background-image: url(/App/src/icon/uncheckbox.svg);
  display: flex;
  align-items: center;
  padding: 11px;
  margin: 0px 10px 0px 14px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
}

#main
  #main_income_expenditure
  #expenditure_toggle:checked
  + #expenditure_checkbox,
#main #main_income_expenditure #income_toggle:checked + #income_checkbox {
  background-image: url(/App/src/icon/checkbox.svg);
}

#main #main_history_list {
  width: 100%;
  border-collapse: collapse;
}

#main .info_tr,
#main .list_tr {
  border-bottom: 1px solid var(--color-primary-alt-40);
}

#main .info_tr td,
#main .list_tr td {
  padding: 20px 0px 20px 16px;
}

#main .list_tr td:nth-child(1) {
  width: 92px;
}

#main .list_tr td:nth-child(2) {
  width: 320px;
}

#main .list_tr td:nth-child(3) {
  width: 120px;
}

#main .list_tr td:nth-child(4) {
  text-align: right;
}

#main .list_tr td:last-child {
  padding-right: 16px;
}

#main .histoory_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main .history_category {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-off-white);
  border-radius: 25px;
}

#main .history_price {
  display: flex;
  justify-content: right;
  align-items: center;
}

#main .remove {
  display: none;
  margin: 0 0 0 10px;
  padding: 4px 8px;
  border: 1px solid var(--color-secondary-red);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-red);
}

#main .remove::before {
  display: inline-block;
  content: "\00d7";
  font-size: 20pt;
  margin: 0 5px;
  color: var(--color-secondary-red);
}

#main .list_tr {
  cursor: pointer;
}
#main .selected_list,
#main .list_tr:hover {
  background-color: #ffffff;
}
#main .selected_list .remove,
#main .list_tr:hover .remove {
  display: flex;
}

#main .price_text {
  height: 40px;
  display: flex;
  align-items: center;
}

#main .uniqueKey {
  display: none;
}

/* modal */
.payment_modal {
  width: 400px;
  height: 188px;
  padding: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background-color: var(--color-white);
}

.payment_modal form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.payment_modal menu {
  display: flex;
  justify-content: space-between;
  height: 24px;
}

.payment_modal .modal_tite {
  color: var(--color-primary);
}

.payment_modal .modal_input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  padding: 10px 20px;
  color: var(--color-primary);
  background-color: var(--color-white);
}

#remove_option_modal input {
  background-color: var(--color-primary-alt-40);
}

#remove_list_modal_text p {
  color: var(--color-primary);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
