.info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 848px;
  height: 32px;
  margin: auto;
  top: 16px;
}

.info .info-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 133px;
  height: 32px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */

  /* Primary */

  color: #524d90;
}

.info-label {
  width: 82px;
  height: 32px;
}

.info-out-text {
  width: 43px;
  height: 32px;
}

.info .info-right {
  display: flex;
  /* align-items: center; */
  background-position: center;
  justify-content: space-between;
  width: 296px;
  height: 24px;
}

.info .in-box {
  display: flex;
  /* align-items: center; */
  width: 151px;
  height: 24px;
}
.info .out-box {
  display: flex;

  width: 133px;
  height: 24px;
}

.info .in-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 119px;
  height: 24px;

  padding-left: 8px;

  color: #524d90;
}

#in-check {
  /* display: none; */

  background-repeat: no-repeat;
  background-image: url("./img/check.svg");
  background-position: center center;
  width: 24px;
  height: 24px;
}

.info .info-out-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 119px;
  height: 24px;

  padding-left: 8px;

  color: #524d90;
}

#out-check {
  /* display: none; */

  background-repeat: no-repeat;
  background-image: url("./img/check.svg");
  background-position: center center;
  width: 24px;
  height: 24px;
}
