.header_container_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 846px;
  height: 96px;
  margin: 40px 0 26px 0;
  z-index: 1;
  color: #fcfcfc;
}

.content_container nav:hover {
  cursor: pointer;
}

#header_title_logo {
  width: 132px;
  height: 24px;
  font: var(--font-display-small);
}

.header_monthYear_info {
  width: 232px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_monthYear_text {
  width: 120px;
  height: 96px;
  text-align: center;
  font: var(--font-bold-small);
}

#monthYear_text_month_number {
  font: var(--font-display-large);
}

.header_tab {
  position: relative;
  width: 132px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img_doc:hover {
  content: url('../svg/tab_activate_doc.svg');
  transform: scale(1.2);
}

#img_calendar:hover {
  content: url('../svg/tab_activate_calendar.svg');
  transform: scale(1.2);
}

#img_chart:hover {
  content: url('../svg/tab_activate_chart.svg');
  transform: scale(1.2);
}
