.main_section {
  width: 848px;
  height: auto;
  overflow: hidden;
  left: 297px;
  top: 152px;
  z-index: 1;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 848px;
  height: 32px;
  margin-top: 48px;
  z-index: 1;
}

#total_history_count {
  color: #524d90;
  width: auto;
  height: 32px;
  font: var(--font-body-large);
}

.total_history_check_total_price {
  display: flex;
  color: #524d90;
}

.income_history,
.expenses_history {
  display: flex;
  text-align: right;
  margin-left: 14px;
  font: var(--font-body-medium);
}

#income_text,
#expenses_text {
  width: auto;
  height: 24px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label {
  background-image: url(../svg/checked.svg);
}

.main_section_container {
  width: 846px;
  margin-bottom: 33px;
  height: auto;
  overflow: hidden;
}

.main_section_container .separator {
  border-bottom: 1px solid rgba(167, 159, 203, 0.4);
}

#transaction_history_header {
  margin-top: 28px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  color: #524d90;
}

.history_date {
  display: flex;
  justify-content: space-between;
}

#transaction_day {
  margin-left: 8px;
  color: #a79fcb;
}

#total_price {
  text-align: right;
  color: #a79fcb;
}

#main_details {
  width: 846px;
  height: 64px;
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 16px;
  font: var(--font-body-medium);
}

#main_category {
  margin: 16px;
  padding: 4px 8px;
  width: 92px;
  height: 32px;
  color: #fcfcfc;
  font: var(--font-bold-medium);
  background-color: #d092e2;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#main_details_text {
  align-items: center;
  margin: 20px 0 20px 0;
  width: 320px;
  height: 24px;
  color: #524d90;
}

#main_means {
  width: 120px;
  height: 24px;
  color: #a79fcb;
}

#main_price {
  margin-right: 16px;
  width: 234px;
  height: 22px;
  text-align: right;
  color: #e75b3f;
}
