* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-primary);
  font: var(--font-body-medium);
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}