/* modal */
.alert-and-modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: var(--color-black-40);
  z-index: 1;
}

.alert-and-modal.is-active {
  display: block;
}

.alert-and-modal form {
  width: 400px;
  height: 228px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-primary);
  box-shadow: var(--shadow);
}

.alert-and-modal form .modal-content {
  margin-bottom: 32px;
}

.alert-and-modal form .modal-content .modal-title {
  height: 24px;
  margin-bottom: 24px;
  font-size: var(--fs-body-regular);
  font-weight: var(--fw-body);
  font-style: normal;
  line-height: var(--lh-body-regular);
}

.alert-and-modal form .modal-content .modal-body {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-primary);
  color: var(--color-primary);
}

.alert-and-modal form .modal-content .modal-body::placeholder {
  color: var(--color-primary-alt);
  font-family: var(--ff-body);
  font-size: var(--fs-body-regular);
  font-weight: var(--fw-body);
  font-style: normal;
  line-height: var(--lh-body-regular);
}

.alert-and-modal.delete-payment-method .modal-body {
  background-color: var(--color-primary-alt-40);
  border: none;
}

.alert-and-modal form .modal-btns {
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.alert-and-modal form .modal-btns > button {
  width: 28px;
  background-color: transparent;
  border: none;
  font-family: var(--ff-bold);
  font-size: var(--fs-bold-large);
  font-weight: var(--fw-bold);
  font-style: normal;
  line-height: var(--lh-bold-medium);
  cursor: pointer;
}

.alert-and-modal form .modal-btns .cancel-btn {
  width: 28px;
  height: 24px;
  color: var(--color-primary);
}

.alert-and-modal form .modal-btns .add-btn {
  color: var(--color-secondary-yellow);
}

.alert-and-modal form .modal-btns .delete-btn {
  color: var(--color-secondary-red);
}
