<!DOCTYPE html>
<!-- 언어 변경 -->
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="src/css/reset.css" />
    <link rel="stylesheet" href="src/css/common.css" />
    <link rel="stylesheet" href="src/css/carousel.css" />
    <link rel="stylesheet" href="src/css/tabs.css" />
    <link rel="stylesheet" href="src/css/toolbar.css" />
    <link rel="stylesheet" href="src/css/datepicker.css" />
    <link rel="stylesheet" href="src/css/header.css" />
    <link rel="stylesheet" href="src/css/main.css" />
    <title>Wise wallet</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import { App } from "src/js/app.js";
      (function () {
        const $app = document.querySelector("#app");
        const app = new App($app);
        app.render();
      })();
    </script>
  </body>
</html>
